h1 {
    color: coral;
}
#thirdDiv {
    width: 500px;px;
    height: 600px;px;
    padding: 50px;px;
    background-color: cyan;
    border: 300px;; width: 200px;;
}

#spanId {
    font: size 50px;;
    margin: 50px;px;}
 {
width: 200px;}