h1 { 
    color: salmon;
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: skyblue;
    padding: 50px;
    border: 7px solid blue
}
#spanId {
    font-size: 18px;
    margin: 50px;
}